@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:ital,wght@0,400;1,300&family=Yusei+Magic&display=swap");

.logo {
  width: 84px;
  height: 90px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.title-yusei {
  font-family: "Yusei Magic", sans-serif;
  font-size: 3em;
}

.about {
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #ff0d59;
  color: #ffffff;
}

.about_description {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

.img-avatar {
  margin: 0;
  padding: 0;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  border: 10px solid #ffffff;
}
