@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:ital,wght@0,400;1,300&family=Yusei+Magic&display=swap");

.logo {
  width: 84px;
  height: 90px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.title-yusei {
  font-family: "Yusei Magic", sans-serif;
  font-size: 3em;
}

.about {
  padding-top: 2em;
  padding-bottom: 3em;
  background: rgb(173, 9, 142);
  background: linear-gradient(
    0deg,
    rgba(173, 9, 142, 1) 19%,
    rgba(255, 13, 89, 1) 100%
  );
  color: #ffffff;
}

.about_description {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

.img-avatar {
  margin: 0;
  padding: 0;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  border: 10px solid #ffffff;
}

.skills {
  padding-top: 2em;
}

.image-skills {
  width: 80px;
  height: 80px;
}

.portfolio {
  margin-top: 4em;
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #ad098e;
  color: #ffffff;
}
